@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --brand-primary-color: #e6fa36;
  --brand-secondary-color: #c29be7;
}

html {
  max-width: 1400px;
  margin: 0 auto;

  background-color: #091428;
  color: #eee;
}
